# 
# TYPE_1 = "节点有独立公网IP，且公网IP就在接口上"
# TYPE_2 = "节点有独立公网IP，但是通过内网IP ip映射 nat 到公网IP上，内网中无其余待参与组网的节点"
# TYPE_3 = "节点有独立公网IP，但是通过内网IP ip映射 nat 到公网IP上，内网中有其余待参与组网的节点，网络情况同3"
# TYPE_4 = "节点有独立公网IP，但是通过内网IP ip映射 nat 到公网IP上，内网中有其余待参与组网的节点，网络情况同5"
# TYPE_5 = "节点有无独立公网IP，但与d类型节点在同一内网中，可互通"
#

nodes:
  - {type: TYPE_1, hostname: vr02, internal_ip: '', external_ip: 91.121.15.50}
  - {type: TYPE_1, hostname: vm01, internal_ip: '', external_ip: 49.98.111.118}
  - {type: TYPE_3, hostname: or01, internal_ip: 10.0.0.59, external_ip: 123.4.14.121}
  - {type: TYPE_3, hostname: or02, internal_ip: 10.0.0.203, external_ip: 122.60.80.217}
  - {type: TYPE_4, hostname: pk01, internal_ip: 10.0.0.27, external_ip: 129.123.241.21}
  - {type: TYPE_5, hostname: pk02, internal_ip: 10.0.0.26, external_ip: ''}
  - {type: TYPE_5, hostname: pk03, internal_ip: 10.0.0.25, external_ip: ''}

nat_nodes_relays:
  - {relay: pk01, nat: [pk02, pk03]}